<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>

  <body class="d-flex flex-column">
    <%= render Shared::Navbar.new(pages: collections.sections.resources) %>

    <div class="flex-grow-1 d-flex flex-column justify-content-end px-3 px-md-5">
      <main class="flex-grow-1">
        <%= yield %>
      </main>

      <%= render "footer", metadata: site.metadata %>
    </div>
  </body>
</html>
