---
layout: section
---

<%= render Shared::LettersNav.new(console: data.console, current_letter: data.letter) %>

<div class="d-flex flex-wrap">
  <% data.games.each do |game| %>
    <div class="card console-card mb-3">
      <img
        src="<%= game.cover_path %>"
        class="card-img-top"
        alt="<%= game.cover_alt %>">
      <div class="card-body">
        <h5 class="card-title">
          <%= game.title %>
        </h5>
        <p class="card-text">
          <%= "#{game.players} joueurs" %>
        </p>
      </div>
    </div>
  <% end %>
</div>
