---
layout: section
---

<% console = resource %>

<% slot :breadcrumb do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% console.data.breadcrumb.each do |title, url| %>
        <% if url.present? %>
          <li class="breadcrumb-item"><a href="<%= url %>"><%= title %></a></li>
        <% else %>
          <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
        <% end %>
      <% end %>
    </ol>
  </nav>
<% end %>

<% slot :title do %>
  <% console.full_name %>
<% end %>

<% slot :subtitle do %>
  Découvrez notre catalogue <%= console.name %>
<% end %>

<div class="card border-0 mb-2 console-summary-card">
  <img
    class="card-img-top"
    src="<%= console.data.image_path %>"
    alt="<%= console.data.image_alt %>">
  <div class="card-body px-0 pb-0">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Consoles disponibles</th>
          <td><%= console.data.quantity %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% under_construction = true %>
<% if under_construction %>
  <h2 class="fs-3 mb-0">Jeux disponibles</h2>
  <hr>
  <div class="d-flex align-items-center gap-2 fs-4 mb-3">
    <i class="bi bi-tools text-danger"></i>
    <p class="mb-0 text-warning ">En construction...</p>
  </div>
  <div class="tenor-gif-embed" data-postid="5665241" data-share-method="host" data-aspect-ratio="1.23967" data-width="15rem"><a href="https://tenor.com/view/construction-lol-mario-gif-5665241">Construction GIF</a>from <a href="https://tenor.com/search/construction-gifs">Construction GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<% else %>
  <div
    data-controller="game-collection"
    data-game-collection-game-card-class="game-card"
    data-game-collection-hidden-class="d-none">
    <div class="d-flex align-items-center justify-content-between">
      <h2 class="fs-3 mb-0">Jeux disponibles</h2>
      <%= render Consoles::PlayersFiltersComponent.new(console) %>
    </div>

    <hr>

    <%= render Consoles::LetterFiltersComponent.new(console) %>

    <div class="d-flex flex-wrap gap-2" data-game-collection-target="gamesList">
      <% console.relations.games.each do |game| %>
        <%= render GameCardComponent.new(game:) %>
      <% end %>
    </div>
  </div>
<% end %>
