---
layout: section
---

<div class="card border-0 mb-2 console-summary-card">
  <img
    class="card-img-top"
    src="<%= resource.model.image_path %>"
    alt="<%= resource.model.image_alt %>">
  <div class="card-body px-0 pb-0">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Consoles disponibles</th>
          <td><%= resource.model.quantity %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex align-items-center justify-content-between">
  <h2 class="fs-3 mb-0">Jeux disponibles</h2>
  <div class="dropdown">
    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
      <i class="bi-funnel"></i>
    </button>
    <form class="dropdown-menu p-4">
      <h6 class="dropdown-header px-0">Nombre de joueurs</h6>
      <div class="mb-3">
        <% resource.model.available_players_filters.each do |players| %>
          <% id = "players_filter_#{players}_checkbox" %>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="<%= id %>">
            <label class="form-check-label" for="<%= id %>">
              <%= "#{players} #{'joueurs'.pluralize(players)}" %>
            </label>
          </div>
        <% end %>
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Appliquer</button>
    </form>
  </div>
</div>

<hr>

<div
  data-controller="game-collection"
  data-game-collection-console-slug-value="<%= resource.model.slug %>"
  data-game-collection-metadata-url-value="<%= resource.model.game_collection_metadata_path %>"
  data-game-collection-collection-url-value="<%= resource.model.game_collection_path %>">
  <%= render Consoles::LetterFiltersComponent.new(resource.model) %>

  <div class="d-flex flex-wrap gap-2" data-game-collection-target="gamesList">
    <% resource.model.first_games_chunk.each do |game| %>
      <%= render_js_template_with_model(:gameCard, game) %>
    <% end %>
    <%= render_js_template_with_model(:gameCardPlaceholder, resource.model.first_games_chunk.first) %>
  </div>
</div>
