---
layout: section
---

<%= render Console::GameLettersNav.new(data.game_page) %>
<%= render Console::GamePagesNav.new(data.game_page) %>

<div class="d-flex flex-wrap">
  <% data.game_page.games.each do |game| %>
    <div class="card game-card mb-3">
      <img
        src="<%= game.cover_path %>"
        class="card-img-top"
        alt="<%= game.cover_alt %>">
      <div class="card-body">
        <h5 class="card-title fs-5 text-truncate">
          <%= game.title %>
        </h5>
        <p class="card-text">
          <%= "#{game.players} joueurs" %>
        </p>
      </div>
    </div>
  <% end %>
</div>
