---
layout: base
---

<body class="is-flex is-flex-direction-column">
  <%= render Shared::Navbar.new(pages: collections.nav_pages.resources) %>

  <div class="container is-fluid is-flex is-flex-direction-column is-justify-content-flex-end">
    <main class="is-flex-grow-1">
      <section class="section">

        <h1 class="title"><%= data.title %></h1>
        <% if data.subtitle.present? %>
          <h2 class="subtitle"><%= data.subtitle %></h2>
        <% end %>

        <%= yield %>
      </section>
    </main>

    <%= render "footer", metadata: site.metadata %>
  </div>
</body>


