---
layout: section
---

<% photo_event = resource.model %>

<% slot :breadcrumb do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href=".">Accueil</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/gallery">Galerie photo</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= photo_event.title %>
      </li>
    </ol>
  </nav>
<% end %>

<% slot :title do %>
  <h1 class="fs-2">Galerie photo</h1>
<% end %>

<% slot :subtitle do %>
  <p class="lead"><%= photo_event.title %></p>
<% end %>

<div
  id="<%= photo_event.gallery_id %>"
  class="d-flex flex-wrap justify-content-start gap-2"
  data-controller="photoswipe">
  <% resource.relations.photos.map(&:model).each do |photo| %>
    <div class="d-flex align-items-center">
      <a
        href="<%= photo.image_path %>"
        data-pswp-width="<%= photo.width %>"
        data-pswp-height="<%= photo.height %>">
        <img class="event-photo" src="<%= photo.thumbnail_path %>" alt="<%= photo.name %>">
      </a>
    </div>
  <% end %>
</div>
