---
layout: section
---

<% photo_event = resource %>

<div
  id="<%= "#{photo_event.data.slug}-gallery" %>"
  class="d-flex flex-wrap justify-content-start gap-2"
  data-controller="photoswipe">
  <% resource.relations.photos.each do |photo| %>
    <div class="d-flex align-items-center">
      <a
        href="<%= photo.data.image_path %>"
        data-pswp-width="<%= photo.data.width %>"
        data-pswp-height="<%= photo.data.height %>">
        <img class="event-photo" src="<%= photo.data.thumbnail_path %>" alt="<%= photo.data.name %>">
      </a>
    </div>
  <% end %>
</div>
