---
layout: section
---

<% photo_event = resource.model %>

<% slot :section_head do %>
  <%= render Sections::HeadComponent.new(
    breadcrumb: [
      ['Galerie photo', '/gallery'],
      photo_event.title
    ],
    title: 'Galerie photo',
    subtitle: photo_event.title
  ) %>
<% end %>

<div
  id="<%= photo_event.gallery_id %>"
  class="d-flex flex-wrap justify-content-start gap-2"
  data-controller="photoswipe">
  <% resource.relations.photos.map(&:model).each do |photo| %>
    <div class="d-flex align-items-center">
      <a
        href="<%= photo.image_path %>"
        data-pswp-width="<%= photo.width %>"
        data-pswp-height="<%= photo.height %>">
        <img class="event-photo" src="<%= photo.thumbnail_path %>" alt="<%= photo.name %>">
      </a>
    </div>
  <% end %>
</div>
