---
layout: base
---

<% if data.breadcrumb.present? %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% data.breadcrumb.each do |title, url| %>
        <% if url.present? %>
          <li class="breadcrumb-item"><a href="<%= url %>"><%= title %></a></li>
        <% else %>
          <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
        <% end %>
      <% end %>
    </ol>
  </nav>
<% end %>

<h1 class="fs-2"><%= data.title %></h1>
<% if data.subtitle.present? %>
  <p class="lead"><%= data.subtitle %></p>
<% end %>

<%= yield %>


