---
icon: sports_esports
color: danger
layout: section
rank: 2
title: Inventaire
subtitle: Parcourez la liste des consoles et des jeux dont nous disposons
---

<div class="d-flex flex-wrap">
  <% collections.consoles.resources.map(&:model_with_data).each_with_index do |console, index| %>
    <a href="<%= console.first_game_letter_path %>">
      <div class="<%= class_names('card console-card', 'ms-2': index > 0) %>">
        <div class="card-img-top console-card__logo-wrapper d-flex align-items-center justify-content-center p-3">
          <img src="<%= console.logo_path %>" class="console-card__logo" alt="<%= console.logo_alt %>">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><%= console.title %></h5>
        </div>
      </div>
    </a>
  <% end %>
</div>
