<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="/">
        <img src="<%= asset_path 'images/logo.png' %>"" alt="Logo" />
      </a>
    </div>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <% @pages.each do |page| %>
        <div class="navbar-item">
          <a class="icon-text pb-2" href="<%= page.relative_url %>">
            <span class="icon">
              <span class="material-icons has-text-<%= page.data.color %> mr-3">
                <%= page.data.icon %>
              </span>
            </span>
            <span class="has-text-weight-medium"><%= page.data.title %></span>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</nav>
