<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="<%= asset_path 'images/logo.png' %>" class="nav-logo" alt="Logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% @pages.each do |page| %>
          <li class="navbar-item">
            <a class="nav-link" href="<%= page.relative_url %>">
              <div class="d-flex align-items-center">
                <span class="material-icons text-<%= page.data.color %> me-2">
                  <%= page.data.icon %>
                </span>
                <%= page.data.title %>
              </div>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
