<div
  class="card game-card mb-3"
  data-letter="<%= @game.letter %>"
  data-players="<%= @game.players %>">
  <img
    src="<%= @game.cover_path %>"
    alt="<%= @game.cover_alt %>"*
    class="card-img-top game-card__image game-card__image--square">
  <div class="card-body">
    <h5 class="card-title fs-6">
      <span
        class="cursor-help text-truncate d-inline-block mw-100"
        data-controller="tooltip"
        data-tooltip-title-value="<%= @game.title %>"
        data-tooltip-placement-value="bottom">
        <%= @game.title %>
      </span>
    </h5>
    <table class="table table-sm mb-0 table-bordered">
      <tr>
        <td><%= @game.players %> <%= 'joueur'.pluralize(@game.players) %></td>
      </tr>
      <% if @game.pegi? %>
        <tr>
          <td>PEGI <%= @game.pegi %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
