<div
  class="card game-card mb-3"
  data-letter="<%= @game.letter %>"
  data-players="<%= @game.players %>">
  <img src="<%= @game.cover_path %>" alt="<%= @game.cover_alt %>" class="card-img-top">
  <div class="card-body">
    <h5
      class="card-title fs-5 text-truncate"
      data-controller="tooltip"
      data-tooltip-title-value="<%= @game.title %>">
      <%= @game.title %>
    </h5>
    <table class="table table-sm mb-0">
      <tr>
        <td><%= @game.players %> joueurs</td>
      </tr>
      <% if @game.pegi %>
        <tr>
          <td>PEGI <%= @game.pegi %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
